{% extends 'app/base.html' %}
{% load static %}
{% block title %} MRE-soft | About{% endblock title %}

{% block main-content %}
<div class="container mt-3">
    <br> <h2 class="text-center">MRE-soft about us</h2>
    <br>

    <div class="row container">
        <p class="fs-4 text-center">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit aliquid accusantium quidem quam voluptatum maxime illo ab ut perspiciatis repellendus? Neque aliquam architecto porro sed. Natus alias aspernatur perspiciatis odio deleniti minima cupiditate dolore sit amet! Eaque dolorem quidem deserunt excepturi veniam dignissimos laborum perferendis possimus animi, alias non sed molestiae? Praesentium dolores modi vero at veniam ipsam sit dignissimos, quisquam quas voluptatum alias iure obcaecati quibusdam impedit doloremque, fugiat ducimus tempore, ex tempora id! Quas, est minus! Ut magnam culpa ullam explicabo! Soluta, nihil facere suscipit possimus nam atque ullam ut exercitationem rerum veniam, nulla, est sit officiis modi?
        </p>
    </div>
</div>
{% endblock main-content %}