{% extends 'app/base.html' %}
{% load static %}
{% block title %} MRE-soft | Address {% endblock title %}
{% block main-content %}

<div class="container my-5">
    <div class="row">
        {% if cart %}
        <h1 class="text-center mb-5"> Shopping Cart</h1>
        <div class="col-sm-8">
            <div class="card">
            <div class="card-body">
                <h3>Cart</h3>
                {% for item in cart %}
                <div class="row">
                    <div class="col-sm-3 text-center align-self-center">
                        <img src="{{ item.product.product_image.url }}" alt="" srcset="" clas="img-fluid img-thumbnail shadow-sm" height="150" width="150">
                    </div>
                    <h5> {{item.product.title}} </h5>
                    <p class="mb-2 text-muted small">{{item.product.description}}</p>
                    <div class="my-3">
                        <label for="quantity"> Quantity: </label>
                        <a class="minus-cart btn" pid={{item.product.id}}><i class="fa fa-minus-square fa-lg"></i></a><span id="quantity">{{item.quantity}}</span>
                        <a class="plus-cart btn" pid={{item.product.id}}><i class="fa fa-plus-square fa-lg"></i></a>
                    </div>
                    <div class="d-flex justify-content-between">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}
