{% extends 'app/base.html' %}
{% load static %}
{% block title %} MRE-soft | Checkout {% endblock title %}
{% block main-content %}
<div class="container">
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-danger" role="alert">{{msg}}</div>
        {% endfor %}
    {% endif %}
<div class="row mt-5">
    <div class="col-sm-6">
        <h4>Order Summary</h4>
        <hr>
        {% for item in cart_items %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5> Product: {{item.product.title}}</h5>
                    <p> Quantity: {{item.quantity}}</p>
                    <p class="fw-bold"> Price: {{item.product.discounted_price}}</p>
                </div>
            </div>
        {% endfor %}
        <p class="fw-bold">Total cost + Rs. 40 = {{totalamount}}</p>
            <small>TErm and conditions: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</small>
        </div>
        <div class="col-sm-4 offset-sm-1">
            <h4> Select shiping adress </h4>
            <hr>
            <form method="post" id="myform">
                {% csrf_token %}
                {% for ad in add %}
                <div class="card">
                    <div class="card-body">
                        <h5>{{ad.name}}</h5>
                            <p>{{ad.locality}} {{ad.city}} {{ad.state}} - {{add.zipcode}}</p>
                    </div>
                </div>
                    <div class="form-check mt-2 mb-5">
                        <input class="form-check input" type="radio" name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}">
                        <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">Address: {{forloop.counter}}</label>
                    </div>
                    {% endfor %}
                    <div class="form-check mb-3">
                        <label for="totamount" class="form-label">Total amount </label>
                        <input type="number" class="form-control" name="totamount" value={{totalamount}}readonly>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold"> Continue</button>
                        <!--<div id="paypal-button-container"></div>-->
                        {% comment %} <button id="rzp-button1" type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Payment</button> {% endcomment %}
                    </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock main-content %}