{% extends 'app/base.html' %}
{% load static %}
{% block title %} MRE-soft | About{% endblock title %}

{% block banner-slider %} 
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'app/images/banner/b1.jpg' %}" class="d-block w-100" alt="banner image">
            </div>
            <div class="carousel-item">
                <img src="{% static 'app/images/banner/b2.jpg' %}" class="d-block w-100" alt="banner image">
            </div>
            <div class="carousel-item">
                <img src="{% static 'app/images/banner/b3.jpg' %}" class="d-block w-100" alt="banner image">
            </div>
            <div class="carousel-item">
                <img src="{% static 'app/images/banner/b4.jpg' %}" class="d-block w-100" alt="banner image">
            </div>
             
        </div>
    </div>
{% endblock banner-slider %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">Contact us</h2>
    <br>
    <div class="row container mt-3">
        <p class="fs-4 text-center">Adress : </p>
        <p class="fs-4 text-center">Contact :</p>
        <p class="fs-4 text-center">Email :</p>
    </div>
</div>

<br> <br>
{% endblock main-content %}