{% extends 'app/base.html' %}
{% load static %}
{% block title %} MRE-soft | Login {% endblock title %}

{% block main-content %} 
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3> Reset Password completed</h3>
            <hr>
            <div>
                <iframe src="https://giphy.com/gifs/clean-cleanmama-naturalhomekeeping-ibolLe3mOqHE3PQTtk/tile" width="500" height="400" frameboarder="0" claa="giphy-embed" allowFullScreen></iframe>
             </div>
        </div>
    </div>
</div>
{% endblock main-content %} 