{% extends 'app/base.html' %}
{% load static %}
{% block title %} MRE-soft |Change Password {% endblock title %}
{% block main-content %} 

<div class="container my-5">
    <div class="row">
       <h3>Welcom {{request.user.username|capfirst}}</h3>
       <div class="col-sm-2 border-end">
         <ul class="list-unstyled">
            <li class="d-grid">
               <a href="{% url 'profile' %}" class="btn btn-primary">Change Password done </a></li>
         </ul>
       </div>
       <div class="col-sm-9 offset-sm-1">
         <div class="col-sm-9 offset-sm-1 text-center">
            <h3> Password changed Successfully</h3>
         <div>
            <iframe src="https://giphy.com/gifs/clean-cleanmama-naturalhomekeeping-ibolLe3mOqHE3PQTtk/tile" width="2000" height="2000" frameboarder="0" claa="giphy-embed" allowFullScreen></iframe>
         </div>
      </div>
   </div>
 </div> 
 {% endblock main-content %}