{% extends 'app/base.html' %}
{% load static %}
{% block title %} MRE-soft | Update Address {% endblock title %}
{% block main-content %} 

<div class="container my-5">
    <div class="row">
       <h3>Welcom <span class="text-capitalize">{{request.user}}</span></h3>
    </div>
</div>
<div class="col-sm-8 offset-sm-1">
    <form action="" method="post">
        {% csrf_token %}
        {% for fm in form %}
            {{fm.label_tag}} {{fm}}<small class="text-danger">{{fm.errors|striptags}}</small> <br>
    </form>
</div>
{% endblock main-content %} 